sample-flow.json
[{"id":"4034b0d0.ac528","type":"tab","label":"WSRR","disabled":false,"info":""},{"id":"4b8670d7.066af","type":"inject","z":"4034b0d0.ac528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":60,"wires":[["e51f6917.70f868"]]},{"id":"e51f6917.70f868","type":"wsrr-graph-query","z":"4034b0d0.ac528","wsrrServer":"b8d7eed8.02108","queryXpath":"//GenericObject[@name='Catalog Search' and @version='1.0']/gep63_provides(.)/gep63_availableEndpoints(.)[classifiedByAnyOf(.,'http://www.ibm.com/xmlns/prod/serviceregistry/6/1/GovernanceProfileTaxonomy#Production')]","name":"","x":350,"y":60,"wires":[["1f67e873.30f8c8"]]},{"id":"1f67e873.30f8c8","type":"debug","z":"4034b0d0.ac528","name":"","active":true,"console":"false","complete":"wsrrResults","x":610,"y":60,"wires":[]},{"id":"805f087c.6b9358","type":"inject","z":"4034b0d0.ac528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["4251623f.cfe95c"]]},{"id":"4251623f.cfe95c","type":"wsrr-sla-check","z":"4034b0d0.ac528","wsrrServer":"b8d7eed8.02108","consumerID":"ACSV000","contextID":"Gold","endpointClassification":"http://www.ibm.com/xmlns/prod/serviceregistry/6/1/GovernanceProfileTaxonomy#Production","fullResults":false,"x":340,"y":180,"wires":[["5deb1fc0.4bf0b"]]},{"id":"5deb1fc0.4bf0b","type":"debug","z":"4034b0d0.ac528","name":"","active":true,"console":"false","complete":"wsrrResults","x":610,"y":180,"wires":[]},{"id":"b8d7eed8.02108","type":"wsrr-config","z":"","name":"wsrr server","hostname":"wsrr.host.com","port":"9443","username":"user","password":"password"}]
